=render "modals/modal_user_manager"
%header
	.container-fluid
		.row
			.col-xs-6.col-md-3
				.logo
					%a{href: "#"}
						= image_tag('invicto-tv.png')
			%button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#first-header", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			.hidden-xs.hidden-sm.col-md-6
				.collapse.navbar-collapse#first-header
					.search-bar
						%a{:href => "#", :class => "glyphicon glyphicon-search hidden-xs"} 
							click to search
			.col-xs-6.col-md-3	
				.user-box
					- if user_signed_in?
						%ul.nav.navbar-nav.user-info
							%li.user-pic
								= image_tag(current_user.profile.fb_thumb.url, class: "img-circle")
							%li.account-managment
								.options
									.login
										%a
											=current_user.full_name
									.register
										%ul.navbar-nav.profile-signout
											%li
												= link_to 'Mi perfil', edit_user_registration_path(id: current_user)
											%li
												%a 
													|
											%li
												= link_to 'Cerrar sesión', destroy_user_session_path, method: 'delete'	
					- else
						%ul.nav.navbar-nav.user-info
							%li.user-pic
								%a.glyphicon.glyphicon-user{:href => '#', 'data-toggle' => 'modal', 'data-target' => '#modal_user_manager'}
							%li.account-managment
								.options.unlogged
									.login
										%a{:href => "#", 'data-toggle' => 'modal', 'data-target' => '#modal_user_manager'} Login
									.register
										%a{:href => "#", 'data-toggle' => 'modal', 'data-target' => '#modal_user_manager'} 
											or
											%span register
		