.parallax {
  background-image: url("welcome_bg.jpg");
  height: 100vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  & .gradient {
    background: #795300;
    background: linear-gradient(to right, #795300 0%, #231F20 0%,#795300 100%,#231F20 100%);
    opacity:0.85;
    height: 100vh;
  }  
}
.section {
  & .banner-chacao {
    width: 95%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}